<h1><%= @song.name %></h1>
<<<<<<< HEAD
<div><%= link_to @song.artist.name, artist_path(@song.artist) %></div>
<div><%= link_to @song.genre.name, genre_path(@song.genre) %></div>
=======
>>>>>>> 349835ac56334b381ad4982c2d650205f564d1c4
